[Unit]
Description=Teamspeak Service
Wants=network.target

[Service]
WorkingDirectory=/home/teamspeak/teamspeak3-server/teamspeak3-server_linux_amd64
User=teamspeak
ExecStart=/home/teamspeak/teamspeak3-server/teamspeak3-server_linux_amd64/ts3server_minimal_runscript.sh
ExecStop=/home/teamspeak/teamspeak3-server/teamspeak3-server_linux_amd64/ts3server_startscript.sh stop
ExecReload=/home/teamspeak/teamspeak3-server/teamspeak3-server_linux_amd64/ts3server_startscript.sh restart
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
